/*----------------------------------
 ePanda CSS Customize
 --------------------------------- */
.panda-background-information {
    background-color: #FEEAE9;
}

.bg-color-style {
    background-color: #FF589B;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid hotpink;
}

button:hover {
    padding: 6px 12px;
}

.img-size {
    width: 100px;
}

.watch {
    background-color: #FF9C35;
}

.bag {
    background-color: #FF589B;
}

.shoes {
    background-color: #4289FF;
}

.paragraph {
    font-weight: 500;
}

.product-price {
    color: #FF589B;
}

/*----------------------------------
 ePanda CSS Customize End
 --------------------------------- */